# Lesson 5

In [2]:
my_list_1 = [1, 2, 3, 4]
type(my_list_1)

list

In [3]:
my_list_1

[1, 2, 3, 4]

In [5]:
my_list_2 = [
    1,
    2.4,
    'a sting',
    ['a string in another list', 5]
]

In [6]:
my_list_2

[1, 2.4, 'a sting', ['a string in another list', 5]]

In [7]:
my_str = 'A string.'
list(my_str)

['A', ' ', 's', 't', 'r', 'i', 'n', 'g', '.']

In [8]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [9]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
my_list_2

[1, 2.4, 'a sting', ['a string in another list', 5]]

In [13]:
2.4 in my_list_2

True

In [14]:
'a string in another list' in my_list_2

False

In [15]:
7 not in my_list_2

True

In [19]:
codon = 'UGG'

start_codon = 'AUG'
stop_codons = ['UAA', 'UAG', 'AGA']

if codon == start_codon: 
    print ('This is the start codon.')
elif codon in stop_codons:
    print ('This is a stop codon')
else:
    print ('This is not a start nor stop codon.')

This is not a start nor stop codon.

In [20]:
my_list_2

[1, 2.4, 'a sting', ['a string in another list', 5]]

In [21]:
my_list = [1, 2.4, 'a sting', ['a string in another list', 5]]

In [22]:
my_list

[1, 2.4, 'a sting', ['a string in another list', 5]]

In [23]:
my_list[1]

2.4

In [24]:
my_list[0]

1

In [25]:
my_list[3]

['a string in another list', 5]

In [26]:
my_list[3][1]

5

In [27]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
my_list[-2]

9

In [29]:
my_list[4]

4

In [30]:
my_list[0:5]

[0, 1, 2, 3, 4]

In [31]:
my_list[0:1000]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
my_list[0:-3]

[0, 1, 2, 3, 4, 5, 6, 7]

In [33]:
my_list[0::2]

[0, 2, 4, 6, 8, 10]

In [34]:
my_list[0:5:2]

[0, 2, 4]

my_list[start:end:stride]

In [39]:
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [45]:
evens = my_list [::2]

In [46]:
evens

[0, 2, 4, 6, 8, 10]

In [50]:
evens_without_end_values = evens[1:-1]

In [51]:
evens_without_end_values

[2, 4, 6, 8]

In [52]:
my_list[2:-1:2]

[2, 4, 6, 8]

In [53]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
my_list[4] = 'four'

In [55]:
my_list

[0, 1, 2, 3, 'four', 5, 6, 7, 8, 9, 10]

In [58]:
a = 3252
print(id(a))

a = 3253
print(id(a))

140394697507600
140394697507216

In [59]:
id(my_list)

140394695190080

In [60]:
my_list[0] = 'zero'

In [61]:
id(my_list)

140394695190080

In [64]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list_2 = my_list

my_list[0] = 'a'

In [65]:
my_list

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
my_list_2

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list_2 = my_list[:]

my_list[0] = 'a'

if you slice, don't run into the mutable list problem

In [68]:
my_list

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuples

In [71]:
my_tuple = tuple(my_list)

In [72]:
my_tuple

('a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple items are immutable, you cannot change the value

In [73]:
my_tuple[4] = 'four'

TypeError: 'tuple' object does not support item assignment

In [89]:
my_tuple = (0, 1, 2, 3, 4, 5)

In [78]:
type(my_tuple)

tuple

In [90]:
my_tuple[::-1]

(5, 4, 3, 2, 1, 0)

In [81]:
my_list = [7,]
type (my_list)

list

In [82]:
my_tuple = (7,)
type(my_tuple)

tuple

square brackets can be used for tuples for indexing

In [91]:
my_tuple + (6, 7, 8, 9, 10)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [92]:
my_tuple = (1, 2, 3)

In [93]:
(a, b, c) = my_tuple

In [94]:
a

1

In [95]:
b

2

In [96]:
c

3

tuples have unpacking feature

use tuples for the most part, unless you need something to be mutable then use lists